.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  }
  
  body {
    background-color: #b2bac5;
  }
  
  h1 {
    margin: 32px;
    font-family: 'Lobster', cursive;
    text-shadow: 7px 0 #7186a0;
    font-size: 10rem;
    color: #18c088;
  }
  
  p {
    font-size: 4rem;
    color: #03d38e;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 8%;
    color: #8a8a8a;
    text-align: center;
    font-family: 'Roboto', cursive;
  }
